<!DOCTYPE html>
    <html>
    <head>
            {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}
            {{mymap.js}}
            {{sndmap.js}}
    </head>
    <body>




<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(18.9300, 72.8200),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var latlngbounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            google.maps.event.addListener(map, 'click', function (e) {
               alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
         });
       }
    </script>
    <div id="dvMap" style="width: 500px; height: 500px">
    </div>

# <h1>Flask Google Maps Example</h1>
#    <form action="/api" method="POST">
#        <input type="text" name="geology" value="disk"> Geology <br><br>
#        <input type="text" name="gradient" value="memory"> Gradient <br><br>
#        <input type="text" name="soils" value="cpu"> Soils <br><br>
#        <input type="text" name="landslide" value="disk"> Landslide type <br><br>
#        <input type="text" name="slopemorph" value="memory"> Slope Morphology <br><br>
#        <input type="text" name="landuse" value="cpu"> Landuse <br><br>
#        <input type="submit" name="submit_plot" value="Send">
#    </form>

url = "http://129.101.160.58:5000/api"

 <h1>Landslide example</h1>
    <form action="/api" method="POST">
        <input type="text" name="cool"> cool <br><br>
        <input type="text" name="useful"> useful <br><br>
        <input type="text" name="funny"> funny <br><br>
        <input type="submit" name="submit_plot" value="Send">
    </form>

# data = json.dumps({'cool':1, 'useful':8, 'funny':2})
# r = requests.post(url, data)

# print r.json()


</body>
</html>
